[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pymysql = "*"
jenkinsapi = "*"
pytest = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
